

h1
{
    background-color:rgb(255, 0, 85)
}
 h1 
{
font-size :2.5em;
border-style :solid;
border-color : rgb(255, 0, 85);
border-width : 7mm;
width:100%;
}


li
{
     align-content:center
}














